* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  outline: 1px solid orange;
  background-color: pink;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main-sidebar {
  outline: 1px solid green;
  background-color: blue;
  padding: 20px;
  width: 200px;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6;
}

.main-header {
  outline: 1px solid purple;
  background-color: lightblue;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.top-row {
  outline: 1px solid turquoise;
  background-color: lightgray;
  padding: 10px;
}

.bottom-row {
  outline: 1px solid brown;
  background-color: lightyellow;
  padding: 10px;
}

.main-content {
  outline: 1px solid red;
  background-color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 6;
}

.your-projects {
  outline: 1px solid cyan;
  background-color: lightgreen;
  padding: 10px;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.announcements {
  outline: 1px solid magenta;
  background-color: lightcoral;
  padding: 10px;
  display: grid;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.trending {
  outline: 1px solid navy;
  background-color: lightsteelblue;
  padding: 10px;
  display: grid;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}
